[submodule "minqlx-plugins-MinoMino"]
	path = minqlx-plugins-MinoMino
	url = https://github.com/MinoMino/minqlx-plugins.git
[submodule "minqlx-plugins-tjone270"]
	path = plugins-tjone270
	url = https://github.com/tjone270/Quake-Live.git
[submodule "minqlx-plugins-cstewart90"]
	path = minqlx-plugins-cstewart90
	url = https://github.com/cstewart90/minqlx-plugins
[submodule "minqlx-plugins-dsverdlo"]
	path = minqlx-plugins-dsverdlo
	url = https://github.com/dsverdlo/minqlx-plugins
[submodule "minqlx-plugins-x0rnn"]
	path = minqlx-plugins-x0rnn
	url = https://github.com/x0rnn/minqlx-plugins
